@font-face {
    font-family: 'Reem Kufi';
    src: url('/font/reemKufi/ReemKufi-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Palorant';
    src: url('/font/valorantfont/Valorant\ Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.agent-image {
    position: relative;
    width: 230px;
    height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(108, 108, 108));
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#jett{
    background: linear-gradient(to bottom, rgb(20, 56, 95), rgb(154, 209, 251));
}

#jett .image{
    margin-bottom: -39px;
}

#phoenix{
    background: linear-gradient(to bottom, rgb(219, 100, 14), rgb(227, 186, 139));
}

#phoenix .image{
    margin-bottom: -43px;
}

#chamber{
    background: linear-gradient(to bottom, rgb(220, 172, 50), rgb(255, 255, 255));
}

#chamber .image{
    margin-bottom: -27px;
}

#viper{
    background: linear-gradient(to bottom, rgb(3, 113, 40), rgb(183, 236, 182));
}

#viper .image{
    margin-bottom: -20px;
}

#yoru{
    background: linear-gradient(to bottom, rgb(30, 22, 150), rgb(126, 139, 205));
}

#yoru .image{
    margin-bottom: -20px;
}

#unknown .image{
    filter: brightness(0);
    margin-bottom: -53px;
    margin-right: -20px;
}

.agent-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 11;
}

.agent-image .image {
    position: absolute;
    z-index: 2;
    width: 100%;
}

.agent-image .role {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    opacity: 0.8;
    object-fit: contain;
}

.agent-name {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    z-index: 4;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.agent:hover .agent-name {
    opacity: 1; /* Tampilkan elemen */
    transition: opacity 0.3s ease; /* Efek transisi */
}

.agent-name h1 {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.agent-role{
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;
    font-weight: bold;
    z-index: 3;
}

.agent-role p{
    font-size: 15px;
    font-family: 'Reem Kufi', sans-serif;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: left;
}