.map{
    display: inline-block; /* atau block jika ingin full width */
    width: 40vw;
    height: auto;
    flex: 0 0 auto;
    margin-left: 3vw;
}

.map-image img{
  max-width: 100%;
  height: auto;
  display: block;
}

.map-description{
  color: white;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 1.5vw;
  width: 100%;
  height: auto;
}